<mat-accordion #account_component>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div
          *ngIf="user"
          fxLayout="row"
          fxLayoutAlign="space-around center"
          fxLayoutGap="10px"
          class="account_info"
        >
          <img
            src="{{fbAuthUser.photoURL}}"
            *ngIf="fbAuthUser.photoURL">
              <div
                *ngIf="fbAuthUser.displayName"
              >
                {{fbAuthUser.displayName}}
              </div>
          <div
            *ngIf="!user.displayName"
          >
            {{user.email}}
          </div>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div
      fxLayout="column"
      fxLayoutAlign="start start"
    >
      <a
        mat-button
        *ngIf="user?.vanity"
        routerLink="/about/{{user?.vanity}}"
      >
        Profile
      </a>
      <a
        mat-button
        *ngIf="user"
        routerLink="/account"
      >
        Settings
      </a>
      <button
        mat-button
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
