<mat-card>
  <mat-card-header fxLayout="row">
    <app-profile-image mat-card-avatar
      class="profile_image"
      [src]="aboutUser.image"
      [editMode]="editMode"
      *ngIf="noImg === false"></app-profile-image>
    <mat-card-title>
      <div fxLayout="row">
        <span>{{aboutUser.fname}} {{aboutUser.lname}}</span>
        <div fxFlex></div>
        <app-email-verification [editMode]="editMode"
          [editUser]="aboutUser"></app-email-verification>
      </div>
    </mat-card-title>
    <div fxFlex></div>
    <div *ngIf="showEditBtn === true">
      <button mat-button
        (click)="editSaveBtn()">{{editBtnText}}</button>
    </div>
    <mat-card-subtitle>

      <app-text-input #job
        [editMode]="editMode"
        [type]="'text'"
        [text]="aboutUser.job"
        [placeholder]="'Occupation'"
        [maxlength]="20"
        (value)="job"
        (notify)="updateUserProperties('job', $event)"
        (enter)="submit()"></app-text-input>
      <span *ngIf="aboutUser.company"> @ </span>
      <app-text-input
        #company
        [editMode]="editMode"
        [type]="'text'"
        [text]="aboutUser.company"
        [placeholder]="'Company'"
        [maxlength]="20"
        (value)="company"
        (notify)="updateUserProperties('company', $event)"
        (enter)="submit()"
      ></app-text-input>

    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div
      fxLayout="row"
      fxLayoutGap="10px"
    >
      <div fxFlex>
        <span *ngIf="editMode === false">
          Bio:
        </span>
        <p
          *ngIf="aboutUser.bio"
          class="bio"
        >
          <app-text-input
            #bio
            [editMode]="editMode"
            [type]="'textarea'"
            [text]="aboutUser.bio"
            [placeholder]="'Bio'"
            [maxlength]="280"
            (value)="bio"
            (notify)="updateUserProperties('bio', $event)"
            (enter)="submit()"
          ></app-text-input>
        </p>
        <p *ngIf="!aboutUser.bio">
          <app-text-input
            #bio
            [editMode]="editMode"
            [type]="'textarea'"
            [text]="aboutUser.fname + ' has not entered a bio yet :('"
            [placeholder]="'Bio'"
            [maxlength]="200"
            (value)="bio"
            (notify)="updateUserProperties('bio', $event)"
            (enter)="submit()"
          ></app-text-input>
        </p>
      </div>

      <div>
        <a
          *ngIf="aboutUser.resumeLink"
          href="{{aboutUser.resumeLink}}"
        >
          <button mat-raised-button>Resume</button>
        </a>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <div
      fxLayout="row"
      fxLayoutAlign="space-around center"
    >
      <app-social-link
        *ngFor="let enabledLink of enabledSocialLinkList"
        [editMode]="editMode"
        [type]="enabledLink"
        [link]="aboutUser[enabledLink]"
        (notify)="updateUserProperties(enabledLink, $event)"
      ></app-social-link>
    </div>
    <div *ngIf="editMode === true">
      Click to add or edit social links
    </div>
  </mat-card-actions>
</mat-card>
