<div
  fxFlexFill
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Account Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        fxLayout="column"
        fxLayoutGap="10px"
        [formGroup]="settingsForm"
        novalidate
        (submit)="saveUserInfo()"
        *ngIf="user"
      >
        <mat-form-field>
          <input
            matInput
            placeholder="First Name"
            type="text"
            formControlName="firstname"
            value="{{user?.fname}}"
          >
          <mat-hint
            *ngIf="settingsForm.controls['firstname'].hasError('minlength') && settingsForm.controls['firstname'].touched"
            class="errorHints">
            First Name must be longer than 2 characters.
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Last Name"
            type="text"
            formControlName="lastname"
            value="{{user?.lname}}"
          >
          <mat-hint
            *ngIf="settingsForm.controls['lastname'].hasError('minlength') && settingsForm.controls['lastname'].touched"
            class="errorHints">
            Last Name must be longer than 2 characters.
          </mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Vanity"
            type="text"
            formControlName="vanity"
            value="{{user?.vanity}}"
          >
          <mat-hint
            *ngIf="settingsForm.controls['vanity'].hasError('minlength')"
            class="errorHints"
          >
            Vanity must be longer than 3 characters in length.
          </mat-hint>
          <mat-hint
            *ngIf="settingsForm.controls['vanity'].hasError('maxlength')"
            class="errorHints"
          >
            Vanity must be shorter than 30 characters in length.
          </mat-hint>
          <mat-hint *ngIf="settingsForm.controls['vanity'].value === user?.vanity && settingsForm.controls['vanity'].touched"
            class="vanity">
            Your current vanity.
          </mat-hint>
          <mat-hint
            *ngIf="settingsForm.controls['vanity'].hasError('vanityInUse')"
            class="errorHints"
          >
            This vanity is already in use.
          </mat-hint>
          <mat-hint
            *ngIf="settingsForm.controls['vanity'].hasError('vanity') && !settingsForm.controls['vanity'].hasError('minlength') && !settingsForm.controls['vanity'].hasError('vanityInUse')
            && !settingsForm.controls['vanity'].hasError('maxlength')"
            class="errorHints"
          >
            Vanity must only contain letters and numbers.
          </mat-hint>
          <mat-hint
            *ngIf="!settingsForm.controls['vanity'].hasError('vanity') && !settingsForm.controls['vanity'].hasError('minlength') && !settingsForm.controls['vanity'].hasError('vanityInUse')
            && !settingsForm.controls['vanity'].hasError('maxlength') && settingsForm.controls['vanity'].value !== user.vanity"
            class="vanity"
          >
            This vanity is available to use.
          </mat-hint>
        </mat-form-field>

        <button mat-button
          type="button"
          (click)="resetPassword()"
        >
          Reset Password
        </button>
        <mat-card-actions
          fxLayout="row"
          fxLayoutAlign="center center"
        >
          <button
            mat-button
            matTooltip="Save"
            [matTooltipShowDelay]="500"
            type="submit"
            [disabled]="(settingsForm.controls['firstname'].value === user.fname || settingsForm.controls['firstname'].value === '')
                  && (settingsForm.controls['lastname'].value === user.lname || settingsForm.controls['lastname'].value === '')
                  && (settingsForm.controls['vanity'].value === user.vanity || settingsForm.controls['vanity'].value === '') || settingsForm.invalid"
          >
            Save
          </button>
        </mat-card-actions>

      </form>

      <p *ngIf="user == null">
        <br>
        Please sign in to view this page.
      </p>
    </mat-card-content>
  </mat-card>
</div>
