:host(app-login) {
  max-width: 300px;
  z-index: 999;
}

mat-expansion-panel {
  // overflow-y: auto;
  // overflow-x: hidden;
  //max-height: 90vh;
}

.required {
  color: red;
  font-size: .7em;
}

.errorHints {
  color: red;
}
